services:
  pdf_generator:
    image: pdf_generator
    container_name: pdf_generator
    build: ./
    # entrypoint: ['yarn', 'start']
    environment:
      - CLEANUP_AUTOMATION_DRY_MODE=OFF
      - CLEANUP_AUTOMATION_INTERVAL_MS=50000
      - PORT=9999
      - FILE_MAX_AGE_IN_SECONDS=300
    ports:
      - "9999:9999"
    volumes:
      - ./src:/root/pdf_generator/src
      - ./fonts:/usr/share/fonts/custom # All custom fonts go here
